*.geojson
*.tif
*.jpg
*.m~
*.csv
.DS_Store
*.mat
*.fig
*.eps
*.swp
*.png
*.nc
*.gz
*/figs/*
*.bin
*.b
*cvx/*
*cvx_mac/*
*.zip
*.asv
lib/._*
WritingDraft/*
._*
sherlockOutputs*
log*.txt
*matlab_test.*
publicCode/*
